<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fly High</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <link href="styles/css/style1.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo"><a href="index.html">FLY HIGH</a></h1>

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li><a href="/Passenger_Index">Home</a></li>
          <li><a href="/Passenger_About">About</a></li>
          <li class="active"><a href="/Passenger_View_Flight">View Flight</a></li>
          <li><a href="/Passenger_Book_Flight">Book Flight</a></li>
          <li><a href="/Passenger_Cancel_Flight">Cancel Flight</a></li>
        </ul>

      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= View Flight Section ======= -->
    <section id="pricing" class="viewFlight">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h2 class="viewFlightsHeading">View Flights</h2>
          </div>
          <div class="col-md-5"> 
            <div class="form-group">
               <label for="departureAirport">Departure Airport Name</label>
               <input type="email" class="form-control" id="departureAirport" placeholder="Departure Airport">
            </div>
          </div>
          
          <div class="col-md-1">

          </div>

          <div class="col-md-5">
            <div class="form-group">
              <label for="arrivalAirport">Arrival Airport Name</label>
              <input type="email" class="form-control" id="arrivalAirport" aria-describedby="emailHelp" placeholder="Arrival Airport">
            </div>
          </div>

          <button type="button" class="btn btn-primary">Search Flights</button>

        </div>

        <div class="col-sm-12">
          <table class="table">
            <thead class="table-head">
              <tr>
                <th scope="col">Departure Airport</th>
                <th scope="col">Arrival Airport</th>
                <th scope="col">Airline</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Jinnah International Airport</td>
                <td>Atlanta International Airport</td>
                <td>Emirates</td>
                <td>22 May 2020</td>
                <td>12:00PM (PST)</td>
              </tr>
              <tr>
                <td>Dubai International Airport</td>
                <td>Los Angeles International Airport</td>
                <td>Qatar Airways</td>
                <td>23 May 2020</td>
                <td>01:00AM (PST)</td>
              </tr>
              <tr>
                <td>London Heathrow Airport</td>
                <td>Amsterdam Airport</td>
                <td>Cathay Pacific</td>
                <td>23 May 2020</td>
                <td>03:30AM (PST)</td>
              </tr>
              <tr>
                <td>Frankfurt Airport</td>
                <td>Singapore Changi Airport</td>
                <td>Singapore Airlines</td>
                <td>24 May 2020</td>
                <td>04:40PM (PST)</td>
              </tr>
              <tr>
                <td>San Francisco International Airport</td>
                <td>Islamabad International Airport</td>
                <td>Etihad Airways</td>
                <td>26 May 2020</td>
                <td>07:30PM (PST)</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </section><!-- End View Flights Section-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>FLY HIGH</h3>
              <p>
                FAST NUCES <br>
                Karachi 75950, Pakistan<br><br>
                <strong>Phone:</strong> +1 2345 2345 67<br>
                <strong>Email:</strong> K123456@nu.edu.pk<br>
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Motto</h4>
            <p>We offer you best flight booking experience ever with top airlines available right now.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fly High</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Saif-Aly-Zain</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="scripts/main.js"></script>

</body>

</html>