<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fly High</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <link href="styles/css/style1.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <h1 class="logo"><a href="/Passenger_Index">FLY HIGH</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/Passenger_Index">Home</a></li>
          <li><a href="/Passenger_Signup">Signup</a></li>
          <li><a href="/Passenger_Verify">Verify</a></li>
          <li><a href="/Passenger_Login">Login</a></li>
          <!--
          <li><a href="about.html">About</a></li>
          <li><a href="viewFlight.html">View Flight</a></li>
          <li><a href="bookFlight.html">Book Flight</a></li>
          <li><a href="cancelFlight.html">Cancel Flight</a></li>
          -->
        </ul> 
      </nav><!-- .nav-menu -->
      <!--
        <a role="button" id="loginbtn" class="btn ml-auto">Login</a>
      -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/Airline/1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Lets Flight With <span>Fly High</span></h2>
              <p class="animate__animated animate__fadeInUp">This is the airline hub, where you can view flight schedules of various flights and book a ticket for yourselves</p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/Airline/4.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Vast Number of Airlines Available</h2>
              <p class="animate__animated animate__fadeInUp">We have vast number of popular airline available at you cities. You can view all their scheduled flights and book these flights as per you need.</p>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/Airline/3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>FLY HIGH</h2>
            <h3>We offer you to view scheduled flights from vast number of Airlines available at your location, then book any flight you want using our platform.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Enjoy easy access to multiple feature we offer to make you flight booking easier.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>View scheduled flight from multiple airlines and choose among them.</li>
              <li><i class="ri-check-double-line"></i>Easily book you flight for desired location with our platform</li>
              <li><i class="ri-check-double-line"></i>You can also cancel a flight if you no more need reservation</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>FLY HIGH</h3>
              <p>
                FAST NUCES <br>
                Karachi 75950, Pakistan<br><br>
                <strong>Phone:</strong> +1 2345 2345 67<br>
                <strong>Email:</strong> K123456@nu.edu.pk<br>
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Motto</h4>
            <p>We offer you best flight booking experience ever with top airlines available right now.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Fly High</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Saif-Aly-Zain</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Script Get Started-->
  <script>
    $(document).ready(function(){
        $("#Signup").click(function()
        {
            $('#SignUpModal').modal()
        })
    });    
  </script> 
  <script>
      $(document).ready(function(){
          $("#Signup2").click(function()
          {
              $('#SignUpModal').modal()
          })
      });    
  </script>
  <script>
      $(document).ready(function(){
          $("#Signup3").click(function()
          {
              $('#SignUpModal').modal()
          })
      });    
  </script>        
  <script>
      $(document).ready(function(){
          $("#Signup1").click(function()
          {
              $('#LoginModal').modal('hide')
              $('#SignUpModal').modal()
          })
      });    
  </script>    
  <script>
      $(document).ready(function(){
          $("#Cancel").click(function()
          {
              $('#SignUpModal').modal('hide')
          })
      });    
  </script> 
  <script>
      $(document).ready(function(){
          $("#Login").click(function()
          {
              $('#SignUpModal').modal('hide')
              $('#LoginModal').modal()
              
          })
      });    
  </script>
  <script>
      $(document).ready(function(){
          $("#Cancel1").click(function()
          {
              $('#LoginModal').modal('hide')
          })
      });    
  </script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="scripts/main.js"></script>

</body>

</html>